<div class="user-details-container">
    <h2>User Details</h2>
    <mat-card>
      <mat-card-content>
        <div *ngIf="!isEditing">
          <div class="user-info">
            <div class="user-info-item">
              <p><strong>Username:</strong> {{ user.userName }}</p>
            </div>
            <div class="user-info-item">
              <p><strong>Full Name:</strong> {{ user.name }}</p>
            </div>
            <div class="user-info-item">
              <p><strong>Email:</strong> {{ user.email }}</p>
            </div>
            <div class="user-info-item">
              <p><strong>Unit of measure:</strong> {{ useMetric ? "Metric" : "Imperial" }}</p>
            </div>
            <!-- <div class="user-info-item">
              <p><strong>Address:</strong> {{ user.address }}</p>
            </div>
            <div class="user-info-item">
              <p><strong>Age:</strong> {{ user.age }}</p>
            </div>
            <div class="user-info-item">
              <p><strong>Driver License Category:</strong> {{ user.driverLicenseCategory }}</p>
            </div> -->
          </div>
          <button mat-raised-button color="primary" (click)="startEditing()">Edit</button>
        </div>
  
        <div *ngIf="isEditing">
          <form class="form-container" >
            <mat-form-field class="form-field">
              <mat-label>Name</mat-label>
              <input type="text" id="name" name="name" [(ngModel)]="editedUser.name" matInput required [disabled]="isLoading">
            </mat-form-field>
            <mat-slide-toggle [(ngModel)]="useMetric" name="useMetric">Use metric units</mat-slide-toggle>

          </form>
          <button mat-raised-button color="primary" (click)="saveChanges()">Save</button>
          <button mat-raised-button color="warn" (click)="cancelEditing()">Cancel</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  