.modal-box {
    padding: 5px;
    margin: 4px
}

form {
    display: flex;
    flex-direction: column;
}

.add-button {
    width: fit-content;
    align-self: flex-end;
}

.item-table {
    margin-bottom: 20px;
}

.add-item-button {
    width: fit-content;
    margin: auto;
}

.item-table {
    height: 300px;
    overflow-y: auto;
}

mat-spinner {
    margin: auto
}