<mat-toolbar color="primary">
  <span>Vehicle Manager</span>
  <span class="spacer"></span>
  <button *ngIf="isAuthenticated" mat-button routerLink="/my-vehicles">My vehicles</button>
  <button *ngIf="isAuthenticated" mat-button routerLink="/add-vehicle">Add vehicle</button>
  <button mat-raised-button *ngIf="!isAuthenticated" routerLink="/login">Login</button>

  <mat-icon *ngIf="isAuthenticated" mat-button [matMenuTriggerFor]="menu"
    style="cursor: pointer;">account_circle</mat-icon>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/user">Profile</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>