<mat-card class="services-container">
  <h1>Services</h1>
  <div
    *ngIf="maintenanceList && maintenanceList.length > 0"
    class="maintenance-list"
  >
    <table mat-table [dataSource]="maintenanceList" class="mat-elevation-z8">
      <ng-container matColumnDef="maintenanceDate">
        <th mat-header-cell *matHeaderCellDef>Service date</th>
        <td mat-cell *matCellDef="let maintenance">
          {{ maintenance.maintenanceDate | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="kilometersDriven">
        <th mat-header-cell *matHeaderCellDef>
          {{ isMetric ? "Kilometers" : "Miles" }} driven
        </th>
        <td mat-cell *matCellDef="let maintenance">
          {{
            isMetric
              ? maintenance.kilometersDriven
              : maintenance.kilometersDriven * 0.6
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef>Notes</th>
        <td mat-cell *matCellDef="let maintenance">
          {{ maintenance.notes || "N/A" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Service cost</th>
        <td mat-cell *matCellDef="let maintenance">
          {{ getMaintenanceTotalCost(maintenance.maintenanceItems) | currency }}
        </td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Options</th>
        <td mat-cell *matCellDef="let maintenance">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              (click)="openMaintenanceDetailsDialog(maintenance.id)"
            >
              Details
            </button>
            <button mat-menu-item (click)="deleteMaintenance(maintenance)">
              Delete
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <p *ngIf="maintenanceList && maintenanceList.length == 0">
    No maintenances done on this vehicle
  </p>
  <button
    class="add-button"
    mat-raised-button
    color="primary"
    (click)="addMaintenance()"
  >
    Add Maintenance
  </button>
</mat-card>
