.details-container {
  display: flex;
  padding: 2rem;
  margin: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.vehicle-image {
  max-width: 100%; 
  max-height: 500px; 
  margin: auto;
}

.form-field {
  width: 100%
}

.info-container {
  flex-direction: row;
  padding: 20px;
}

.vehicle-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-card {
  margin: 20px 0px;
}

@media (max-width: 600px) {
  .details-container {
    flex-direction: column;
    padding: 0rem;
    margin: 0.5rem;
  }

  .form-container {
    flex-direction: column;
  }

  .vehicle-image {
    max-height: 100%;
    max-width: 300px;
    margin: auto;
  }
}

