<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="main-div">
  <form (ngSubmit)="submit(loginForm)" #loginForm="ngForm">
    <h1 style="text-align: center;">{{isLoginMode ? 'Login' : 'Sign Up'}}</h1>
    <mat-form-field appearance="fill">
      <mat-label>Email:</mat-label>
      <input [disabled]="isLoading" matInput type="email" id="email" name="email" ngModel required>
        
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password:</mat-label>
      <input [disabled]="isLoading" matInput type="password" id="password" name="password" ngModel required>
    </mat-form-field>

    <div class="buttons">
      <button mat-raised-button type="button" (click)="isLoginMode = !isLoginMode">Switch to {{!isLoginMode ? 'Login' : 'Sign Up'}}</button>
      <button mat-raised-button color="primary" [disabled]="!loginForm.valid" type="submit">{{isLoginMode ? 'Login' : 'Sign Up'}}</button>
    </div>
  </form>
</div>